

<div >
<div class="card text-center col-sm-12">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link " href="#">About </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/dashboard">Dashboard</a>
          </li>
        <li class="nav-item">
          <a class="nav-link " href="/customerlogin">Add Customers </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/viewcustomer">View All Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Add Products </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">View Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">Borrowed Amount</a>
          </li>
          <li class="nav-item">
              <a class="nav-link " href="#">Westage Products </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ">Twitter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ">Linkdien</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " href="#">Instagram</a>
                </li>
            <li class="nav-item">
              <a class="nav-link ">Log Out </a>
            </li>
      </ul>
      <div class="card-body bg-body-tertiary">
        <!-- <h5 class="card-title">Develop By @Ravi Rajput </h5> -->
        <a href="#" class="">Develop by Ravi Rajput</a>
        <p class="card-text">Software Engineer</p>
        <a href="#" class="">RanishIndia.com</a>
      </div>
    </div>

  </div>
</div>