
<app-header></app-header>

<div class="container-fluid">
    <div class="row content">
     <div class="col-sm-2">
<app-sidebar></app-sidebar>

     </div>
  
      <div class="col-sm-9">
        <div>
        <h4 class="text-center"><small>Mahadev Kisan Seva Kendra</small></h4>

        
<div class="d-flex justify-content-end">
  <!-- <div class="row">
        <div class="fa-solid fa-user" >Cart
          
        </div>
        <div class="mr-4">
          <i class="fa-solid fa-user">Profile</i>
            
        </div>
        </div> -->

        <div class="card mr-2" style="width: 10rem; margin-right:2rem">
          <div class="card-body" routerLink="/addcart">
            <h6 class="card-title" >Cart</h6>
            
          </div>
        </div>
        <div class="card" style="width: 10rem;">
          <div class="card-body">
            <h6 class="card-title">Profile </h6>
            
          </div>
        </div>
      </div>
        <hr>
        <!-- <h2></h2>
        <h5><span class="glyphicon glyphicon-time"></span> Ravi Rajput</h5>
        <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
        <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <br><br> -->



        <div class="row">
          <div class="col-sm-2 mb-3 mb-sm-0">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Date</label>
              <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="full Name">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
          </div>
          <div class="col-sm-2 mb-3 mb-sm-0">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Product Name</label>
              <select id="country" class="form-control">  
                <option value="">Select Product </option>
                <option value="US">Urea</option>
                <option value="KE">Dap</option>
                <option value="UK">Medicine</option>
                <option value="IN">Seeds</option>
                <option value="CN">China</option>
                <option value="CA">Canada</option>
                <option value="ZA">South Africa</option>
               </select>
            </div>


       
          </div>


          <div class="col-sm-2 mb-3 mb-sm-0">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"> Sub-Product Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" sub Product">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
          </div>

          <div class="col-sm-2 mb-3 mb-sm-0">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Qty Type</label>
              <select id="country" class="form-control">  
                <option value="">Select Qty </option>
                <option value="US">Kg</option>
                <option value="KE">Dap</option>
                <option value="UK">Medicine</option>
                <option value="IN">Seeds</option>
                <option value="CN">China</option>
                <option value="CA">Canada</option>
                <option value="ZA">South Africa</option>
               </select>
            </div>


       
          </div>

          <div class="col-sm-2 mb-3 mb-sm-0">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Qty</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Items">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
          </div>

          <div class="col-sm-2 mb-3 mb-sm-0">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Price</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Price ">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
          </div>
          <div class="col-sm-2 mb-3 mb-sm-0">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Gst</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Price ">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
          </div>
          <div class="col-sm-2 mb-3 mb-sm-0">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Total Price</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Price ">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
          </div>


          
        </div>
        <div class="row mt-4">
 <button>Add To Cart</button>
 </div>
   

        
        
        <!-- <h4><small>RECENT POSTS</small></h4>
        <hr>
        <h2>Officially Blogging</h2>
        <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
        <h5><span class="label label-success">Lorem</span></h5><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <hr>
  
        <h4>Leave a Comment:</h4> -->

        <!-- <form role="form">
          <div class="form-group">
            <textarea class="form-control" rows="3" required></textarea>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form> -->






        <!-- <br><br>
        
        <p><span class="badge">2</span> Comments:</p><br> -->


        
        <!-- <div class="row">
          <div class="col-sm-2 text-center">
            <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">
          </div>
          <div class="col-sm-10">
            <h4>Anja <small>Sep 29, 2015, 9:12 PM</small></h4>
            <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <br>
          </div>
          <div class="col-sm-2 text-center">
            <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
          </div>
          <div class="col-sm-10">
            <h4>John Row <small>Sep 25, 2015, 8:25 PM</small></h4>
            <p>I am so happy for you man! Finally. I am looking forward to read about your trendy life. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <br>
            <p><span class="badge">1</span> Comment:</p><br>
            <div class="row">
              <div class="col-sm-2 text-center">
                <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
              </div>
              <div class="col-xs-10">
                <h4>Nested Bro <small>Sep 25, 2015, 8:28 PM</small></h4>
                <p>Me too! WOW!</p>
                <br>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  

  <app-navbar></app-navbar>
  <!-- <footer class="container-fluid">
    <p>Footer Text</p>
  </footer> -->