<app-header></app-header>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2">
            <app-sidebar></app-sidebar>

        </div>
<div class="col-sm-9">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Full Name</th>
                <th scope="col">father Name</th>
                <th scope="col">Mobile No</th>
                <th scope="col">Date </th>
                <th scope="col">Items</th>
                <th scope="col">Price</th>
                <th scope="col">Paid Amount</th>
                <th scope="col">R Amount</th>
                <th scope="col">Address </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Ravi Rajput</td>
                <td>adsfdgfhgjhk </td>
                <td>9129868608</td>
                <td>07/07/2023</td>
                <td>Biiter gaurd </td>
                <td>300</td>
                <td>200</td>
                <td>100 </td>
                <td>Delhi</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Amit Baghel</td>
                <td>adsfdgfhgjhk </td>
                <td>1234567890</td>
                <td>07/07/2023</td>
                <td>Urea,Cucumber seeds, zinc </td>
                <td>900</td>
                <td>500</td>
                <td>400 </td>
                <td>Kashganj, up</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Rohit Singh </td>
                <td>adsfdgfhgjhk </td>
                <td>1234567890</td>
                <td>07/07/2023</td>
                <td>Urea,Tomoto seeds, zinc </td>
                <td>900</td>
                <td>500</td>
                <td>400 </td>
                <td>Punjab</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Shubham Singh</td>
                <td>adsfdgfhgjhk </td>
                <td>1234567890</td>
                <td>07/07/2023</td>
                <td>Urea,Cucumber seeds, zinc </td>
                <td>17000</td>
                <td>5000</td>
                <td>11000 </td>
                <td>Meerut</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Ram </td>
                <td>adsfdgfhgjhk </td>
                <td>1234567890</td>
                <td>07/07/2023</td>
                <td>Urea,Tomoto seeds, zinc </td>
                <td>1500</td>
                <td>800</td>
                <td>700 </td>
                <td>Delhi</td>
              </tr>

              <tr>
                <th scope="row">6</th>
                <td>Shivam Singh</td>
                <td>adsfdgfhgjhk </td>
                <td>1234567890</td>
                <td>07/07/2023</td>
                <td>Urea,Cucumber seeds, zinc </td>
                <td>1400</td>
                <td>500</td>
                <td>900 </td>
                <td>Gaziabad</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Mohit Kumar </td>
                <td>adsfdgfhgjhk </td>
                <td>1234567890</td>
                <td>07/07/2023</td>
                <td>Urea,Tomoto seeds, zinc </td>
                <td>1200</td>
                <td>400</td>
                <td>800 </td>
                <td>Noida</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>Ravi Rajput</td>
                <td>adsfdgfhgjhk </td>
                <td>9129868608</td>
                <td>07/07/2023</td>
                <td>Biiter gaurd </td>
                <td>300</td>
                <td>200</td>
                <td>100 </td>
                <td>Delhi</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>Amit Baghel</td>
                <td>adsfdgfhgjhk </td>
                <td>1234567890</td>
                <td>07/07/2023</td>
                <td>Urea,Cucumber seeds, zinc </td>
                <td>900</td>
                <td>500</td>
                <td>400 </td>
                <td>Kashganj, up</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>


<app-navbar></app-navbar>


<!-- <footer class="container-fluid">
    <p>Footer Text</p>
  </footer> -->